@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&display=swap');
.header{
    font-size: 40px;
    color: #2D9CDB;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    padding: 20px;
}